
#header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-variant: normal;
}


#carousel {
  border-radius: 1.5em; 
  padding-top: 0.5em;
  margin: auto
}

img {
  width: 40em;

}

html {
  background-image: url("images/iceCream.jpeg");
}



